/* Footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $accent-bcg-color;
}

.footer__logo--white {
    text-align: center;
    color: $text-color;
}

.footer__logo--margin {
    @media screen and (max-width: 767px) {
        display: block;
            text-align: center;
    }
    
}

.address {
    @media screen and (max-width: 767px) {
        display: block;
        text-align: center;
    }

}

.address__link {
    display: inline-block;
    margin-bottom: 9px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $text-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--margin {
        margin-bottom: 0px;
    }

    &--color {
        color: rgba(255, 255, 255, 0.6);
    }
}