img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
ul,
p {
    margin: 0px 0px;
}

body {
    font-family: Roboto, sans-serif;
    background-color: $backgroundcolor;
    color: $hcolor;
}

.container {
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (min-width: 480px) {
        width: 480px;
    }
        @media screen and (min-width: 768px) {
            width: 768px;
        }
                @media screen and (min-width: 1200px) {
                    width: 1200px;
                }
}

.list {
    list-style: none;
    padding-left: 0;
}

.link {
    text-decoration: none;

    &:hover, &:focus {
        color: $brandcolor;
    }
}