.hero-advantages__title--hidden,
.portfolio__title--hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.hero-advantages {
    @media screen and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;;
    }
}

.hero-advantages__item {
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: calc(100% / 2 - 30px);
        margin: 15px;

    }
    
}

.hero-advantages__list {
    display: flex;
    flex-wrap: wrap;
    
    margin: -15px;
}

.hero-advantages__box {
    @media screen and (max-width: 1199px) {
        display: flex;
            justify-content: center;
            align-items: center;
            background-color: $secondary-bcg-color;
            margin-bottom: 30px;
    }
   
}

.hero-advantages__title {
    margin-bottom: 10px;

    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.hero-advantages__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $pcolor;
}

@media screen and (max-width: 767px) {
    .hero-advantages__item:not(:last-child) {
        margin-bottom: 30px;
    }
}