/* Modal Form */

.modal-form {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.form-form__title {
    display: block;
    text-align: center;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
}

.modal-form__field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.modal-form__input {

    display: block;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    font-size: 18px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: $brandcolor;
    }
}

.modal-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;

    .modal-form__input:focus~ &{
        fill: $brandcolor;
    }
}

.modal-form__text {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}

.modal-form__textarea {
    resize: none;
    height: 120px;
    padding: 12px 16px;


    font-size: 18px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: $brandcolor;
    }
}