$brandcolor: #2196F3;
$secondary-accent-color: #188CE8;
$backgroundcolor: #FFFFFF;
$text-color: #fff;
$accent-bcg-color: #2F303A;
$secondary-bcg-color: #F5F4FA;
$hcolor: #212121;
$pcolor: #757575;
$logocolor: #000000;